<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<h1>Registration page</h1>

<div th:if="${message}">
    <p th:text="${message}"></p>
</div>

Add new user

<br/>
<form th:action="@{/registration}" method="post">
    <div><label> User Name: <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <br/>
    <div><input type="submit" value="Зарегистрировать"/></div>
</form>

<br/>
<a th:href="@{/login}">Login page</a>

</body>
</html>